[submodule "RATutorials"]
	path = sm-RATutorials
	url = https://github.com/Etron-RA/RetroAchievements.git
[submodule "RATools"]
	path = sm-RATools
	url = https://github.com/Jamiras/RATools.git
[submodule "RALibretro"]
	path = sm-RALibretro
	url = https://github.com/RetroAchievements/RALibretro.git
